doctype html
html
  head
    title Artikelsida
  | <style type='text/css'>
  include index.css
  | </style>
  body
    header
      | Header
      ul
        li
          a(href='#') Home
        li
          a(href='#') Artikellista
        li
          a(href='#') Artikelsida
    section
      h1 Title
      h4 Land
      h4 Producer
      h4 BrewingMethod
      p about kaffe text