doctype html
html
  head
    title Artikelsida
  | <style type='text/css'>
  include index.css
  | </style>
  body
    include ./includes/nav.jade
    section
      h1 Title
      h4 Land
      h4 Producer
      h4 BrewingMethod
      p about kaffe text