@charset "UTF-8";
/* index.jade */

html { 
	height: 100%; 
    min-height: 100%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif; 
	margin:0; /* Remove default margins */
	height: 100%;

	background-image:url(/images/coffeebeans.jpg);
	background-repeat:no-repeat;
	background-size:100%;
	background-position:0% 70%;
	}

form {
	background-color:rgba(189,172,154,1.00);
	width:30%;
	margin:5% 60%;
	color:rgba(49,29,19,1.00);
	padding:3% 1%;
	text-align:center;
	-moz-box-shadow:6px 6px 6px rgba(0,0,0,0.2);
	-webkit-box-shadow:6px 6px 6px rgba(0,0,0,0.2);
	box-shadow:6px 6px 6px rgba(0,0,0,0.2);
	border-radius:6px;
	}
#description {
	width:95%;
	
	height:200px;
	}
	
#name {
	background:white;
	width:95%;
	text-align:center;
	height:20px;
	margin-bottom:1%;
	font-size:.9em;
	}

nav {
	background-color:white;
	margin:0;
	border-bottom: 1px solid black;
}

nav ul {
	width: 100%; 
	margin: 0; /* reset margins */ 
	padding: 0;
	list-style-type: none; /* remove bullets */
}

nav ul li {
	line-height: 60px;
	padding-left: 0px;
	padding-right: 0px;
	text-align: center;
	display: inline-block; /* horisontal position */
}

nav ul li a {
	padding-left: 20px;
	padding-right: 20px;
	text-decoration: none;
	color: black;
}

/* -- Paint it black! -- */

nav { 
	background-color: black;
}

nav ul li a {
	color: white;
}

nav ul li a:hover { 
	color: #e0e0e0;
}

/* Inherit font (from Mozilla Developer Network) */

button, input, select, textarea {
  font-family : inherit; 
  font-size   : 100%;
}



