doctype html
html
  head
  | <style type='text/css'>
  include index.css
  | </style>
  body
    include ./includes/nav.jade
    p 
    form(action='', method='post', enctype='multipart/form-data')
        // p Welcome to #{hej}
        label(for='name') Title
        input#name(type='text', name='title', placeholder='Enter the name of brand')
        br
        label(for='name') Roastery
        input#name(type='text', name='roastery', placeholder='orgin')
        br
        label(for='name') Country
        input#name(type='text', name='country', placeholder='orgin')
        br
        label(for='name') Producer
        input#name(type='text', name='producer', placeholder='orgin')
        br
        label(for='name') BrewingMethod
        input#name(type='text', name='brewingMethod', placeholder='orgin')
        br
        label(for='description') About the coffe
        textarea#description(name='about', placeholder='Enter a short description about coffe')
        br
        input(type='submit', value='Add item')