doctype html
html
  head
  | <style type='text/css'>
  include index.css
  | </style>
  body
    form(action='', method='post', enctype='multipart/form-data')
      
        label(for='name') Title
        input#name(type='text', name='name', placeholder='Enter the name of brand')
        br
        label(for='name') Country
        input#name(type='text', name='name', placeholder='orgin')
        br
        label(for='name') Producer
        input#name(type='text', name='name', placeholder='orgin')
        br
        label(for='name') BrewingMethod
        input#name(type='text', name='name', placeholder='orgin')
        br
        label(for='description') About the coffe
        textarea#description(name='description', placeholder='Enter a short description about coffe')
        br
        input(type='submit', value='Create Profile')