doctype html
html
  head
    title Artikellista
  | <style type='text/css'>
  include index.css
  | </style>
  body
    include ./includes/nav.jade
    section
      ul
        li Chorongi
        li Elida
        li Yandaro
        li El Angel
        li Gerardo Moreno
        li Jorge Lagos