extends layout

block content
  #container
    #productList
      h1= title
      ul
        each val in coffee.coffee
          li
            a(href='product?id=#{val.id}') #{val.roastery} - #{val.title}