extends layout

block content
  #container
    div
      h1= title
      ul
        li Chorongi
        li Elida
        li Yandaro
        li El Angel
        li Gerardo Moreno
        li Jorge Lagos